on: [push, pull_request, workflow_dispatch]

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Install GDK 3.0 Development Files
      - name: Install GTK3 development files
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev

      # Optionally set PKG_CONFIG_PATH if gdk-3.0.pc is not found by pkg-config
      - name: Set PKG_CONFIG_PATH
        run: echo "PKG_CONFIG_PATH=$(pkg-config --variable pc_path pkg-config)" 

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: sudo apt-get update && sudo apt-get install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --lib

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install GDK 3.0 Development Files
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev
    
      - name: Set PKG_CONFIG_PATH
        run: echo "PKG_CONFIG_PATH=$(pkg-config --variable pc_path pkg-config)" 

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings